header{
    background-color: black;
}

main{
    margin: 4em;
    padding-top: 100px;
}

.presentacion{
    font-family: 'Open Sans';
    text-align: center;
    padding-bottom: 30px;
}

.presentacion p{
    border-bottom: 1px solid black;
}

.content-faq{
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

.preguntas{
    padding-top: 50px;
    display: table-row;
}